[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
djangorestframework = "~=3.14"
djangorestframework-simplejwt = "~=5.2"
django-filter = "~=23.2" 

[dev-packages]
requests = "*"

[requires]
python_version = "3.11"
